h1{
	text-align:center;
	font-size:50px;
}
.image-thumbs{
	margin-left:40%;
	margin-top:2%;
	height:250px;
	width:250px;
}
.column{
  float: left;
  width: 19%;
  padding: 5px;
  margin-top:2.5%;
  margin-left:13%
}
}
p{
  font-size:25px;
  margin-top:10%;	
  margin-left:25%;
  margin-right:25%;
}
.button{
	height:50px;
	width:100px;
}
.rps-img-1{
  float: left;
  height:225px;
  width: 275px;
  padding: 5px;
  margin-top:2.5%;
  margin-left:7%
}
.rps-img-2{
  float: left;
  height:225px;
  width: 275px;
  padding: 5px;
  margin-top:2.5%;
  margin-left:7%
}
.rps-img-3{
  float: left;
  height:225px;
  width: 275px;
  padding: 5px;
  margin-top:2.5%;
  margin-left:7%
}